.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control{
  width: 40rem;
  height: 5rem;
}
.btn{
  height: 5rem;
  margin-top: 2rem;
  background-color: rgb(98, 8, 201);
}
label{
  font-size: 15px;
  font-weight: 400;
  float: left;
  color: #000000;
}
small{
  font-weight: 100;
  font-size: 22px;
}
i{
  color: rgb(98, 8, 201);
}
.heading, .sub-heading{
  color: #000000;
}

.header-div{
  margin-bottom: 10rem;
}
.heading-text-div{
  margin-bottom: 3rem;
}
.logo{
  color: #000000;
  font-size: larger;
}
.btn:hover{
  box-shadow: 0px 5px  6px 0px gray;
  background-color:  rgb(98, 8, 201);
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: rgb(98, 8, 201);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgb(98, 8, 201);
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.top-logo-div{
  margin-bottom: 5rem;
}
.top-logo-div > h1{
  color: #000000;
}